.header {
	padding: 24px;

	border-bottom: 1px solid #000;
	background-color: var(--primary);
	box-shadow: 0 18px 31px 0 rgb(0 0 0 / 97%);
}

.container {
	display: flex;
    
	justify-content: space-between;
}

.logo {
	cursor: pointer;

	font-size: 27px;
	font-weight: 700;
}

.sections {
	display: flex;
	justify-content: space-between;
}

.text {
	margin-left: 40px;
	padding-top: 1px;

	cursor: pointer;
	transition: all 0.3s;

	color: rgb(0 0 0 / 70%);

	font-size: 25px;
	font-weight: 400;
}

.text:hover {
	color: black;
}

.hamburger {
	display: none;

	min-width: 35px;
	min-height: 35px;

	border: none;
	border-radius: 5px;
	background-color: transparent;
}

@media (width >= 575.98px){
	.container {
		max-width: 540px;
		margin: auto;
		padding: 0;
	}
}

@media (width >= 767.98px){
	.container {
		max-width: 720px;	
	}
}
  
@media (width >= 991.98px) {
	.container {
		max-width: 960px;
	}
}

@media (width >= 1199.98px){
	.container {
		max-width: 1150px;
	}
}

@media (width <= 992px) {
	.text {
		display: none;
	}
}
