.hello {
	background-color: var(--primary);
}

.container {
	display: flex;
	justify-content: space-between;

	margin-top: 190px;
}

.hi {
	margin: 0;

	color: var(--primary-darker);

	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}

.me {
	margin: 0;
	padding-top: 12px;

	font-size: 48px;
	line-height: 48px;
}

.dev {
	margin-top: 14px;

	font-size: 20px;
	font-weight: 400;
}

.git {
	display: flex;
	justify-content: left;

	width: 274px;
	height: 64px;
	margin-top: 70px;

	color: var(--white);
	border-radius: 5px;
	background: #457B9D;
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);

	font-size: 20px;
}

.icon {
	display: inline-block;

	margin: 14px 10px;
}

.btn_content {
	display: flex;

	padding-left: 25px;
}

.go {
	width: 575px;
	height: 241px;
}

@media (width <= 1200px) {
	.go {
		width: 420px;
	}
}

@media (width <= 992px) {
	.go {
		display: none;
	}

	.container {
		justify-content: center;
	}

	.hi,
	.me,
	.dev {
		text-align: center;
	}

	.git {
		margin: 70px auto;
	}
}