.skills {
	display: flex;
	align-items: center;

	background-color: var(--primary);
}

.container {
	margin: 80px 0;

	text-align: center;
}

.skills-subheader {
	color: var(--primary-darker);

	font-size: 32px;
	font-weight: 600;
}

.skills-header {
	font-size: 48px;
}	

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.icon {
	margin: auto 0;
}

@media (width <= 992px) {
	.icons {
		gap: 50px;

		max-width: 550px;
		margin: 75px auto;
	}
}
