.skills {
	background-color: var(--primary);
}

.container {
	margin-top: 65px;

	text-align: center;
}

.skills-subheader {
	color: var(--primary-darker);

	font-size: 32px;
	font-weight: 600;
}

.skills-header {
	font-size: 48px;
	margin: 0 auto;
}	

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin-top: 40px;
}

.icon {
	margin: auto 0;
}

@media (width <= 992px) {
	.icons {
		gap: 50px;

		max-width: 550px;
		margin: 65px auto;
	}
}

@media (width <= 580px) {
	.container {
		margin-top: 50px;
	}

	.skills-header {
		max-width: 540px;
	}		
}

@media (width <= 520px) {
	.skills-header {
		max-width: 410px;
		font-size: 44px;
	}	
}