:root {
	--primary: #E1FEFF;
	--white: #FFF;
	--primary-darker: #457B9D;
	--gray: #455A64;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
