:root {
  --primary: #e1feff;
  --white: #FFFFFF;
  --primary-darker: #457B9D;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}