.main {
	display: grid;
	grid-template-rows: 85px 640px 616px 520px 700px 377px;
}

@media (992px <= width <= 1200px) {
	.main {
		grid-template-rows: 85px 640px 616px 460px 1700px 377px;
	}
}

@media (770px <= width <= 992px) {
	.main {
		grid-template-rows: 85px 640px 810px 700px 1700px 377px;
	}
}

@media (580px <= width <= 770px) {
	.main {
		grid-template-rows: 85px 640px 860px 700px 1700px 377px;
	}
}

@media (440px <= width <= 580px) {
	.main {
		grid-template-rows: 85px 640px 860px 750px 1450px 440px;
	}
}

@media (width <= 440px) {
	.main {
		grid-template-rows: 85px 640px 1020px 800px 1450px 440px;
	}
}