.footer {
	background-color: var(--primary);
}

.container {
	margin-top: 51px
}

.contacts {
	color: var(--primary-darker);
	font-size: 28px;
	font-weight: 600;
	margin: 0 0;
}

.gtch {
	margin: 11px 0 0 0 ;
	font-size: 48px;
	font-weight: 700;
}

.email {
	font-size: 20px;
	font-weight: 400;
	margin-top: 11px;
	margin-bottom: 15px;
}

.tg {
	display: inline-block;
	margin-bottom: 72px;
}

.copyright {
	font-size: 20px;
	font-weight: 400;
}

@media (580px <= width <= 1200px) {
	.container {
		margin-left: 50px;
	}
}

@media (width  <= 580px) {
	.container {
		margin-left: 25px;
	}
}

@media (440px <= width <= 580px) {
	.tg {
		margin-bottom: 123px;
	}
}