.about {
	background-color: var(--white);
}

.container {
	display: flex;

	margin-top: 58px;
}

.about-block {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 10px;
}

.about-subheader {
	margin: 0;

	color: var(--primary-darker);

	font-size: 24px;
	font-weight: 600;
}

.about-header {
	margin: 8px 0;

	font-size: 48px;
}

.about-text {
	max-width: 470px;

	color: var(--gray);

	font-size: 20px;
}

.amigo {
	width: 500px;
}

@media (width <= 992px) {
	.about-subheader,
	.about-header {
		text-align: center;
	}

	.container {
		display: block;

		margin-top: 0;
	}

	.amigo {
		display: block;

		width: 300px;
		margin: 20px auto;
	}

	.about {
		margin: 30px 0;
	}

	.about-text {
		max-width: 550px;
		margin: 20px auto;
	}
}

@media (width <= 640px) {
	.about-text {
		max-width: 450px;
	}
}

@media (width <= 580px) {
	.about-text {
		max-width: 400px;
	}
}

@media (width <= 440px) {
	.about-text {
		max-width: 320px;
	}
}
